<div class="homepage-container">
    <h1>Waffen und Formspurenuntersuchungen</h1>
    <p>Das Landeskriminalamt untersucht und begutachtet Waffen, Munitionsteile sowie Werkzeug - und sonstige Formspuren. Dazu gehört die Frage, ob sichergestellte Munitionsteile aus einer bestimmten Schusswaffe verfeuert worden sind (sogenannte Verfeuerungsnachweise).</p>
    
    <p>Weitere Untersuchungsfelder sind unter anderem die rechtliche Bewertung von Waffen in Bezug auf das Waffenrecht, Bewertung verbotener Gegenstände, Ursachenfeststellungen von Waffendefekten mit Hinweisen auf Gefährdungs- und Verletzungsgefahren, Feststellung von Abzugsgewichten, Energiemessungen und Schussrichtungsbestimmungen.</p>

    <p>Untersuchungen von Werkzeug und Werkzeugspuren werden zwecks Identitätsnachweis durchgeführt. D.h. es wird festgestellt, ob eine bestimmte Spur von einem bestimmten Werkzeug verursacht worden ist.</p>

    <p>Werkzeugspuren aus bisher unaufgeklärten Straftaten befinden sich in einer Werkzeugspurensammlung. Durch Vergleich dieser Tatspuren können Tatspurenzusammenhänge erkannt werden. Tatverdächtige Werkzeuge werden mit den Spuren der Werkzeugspurensammlung verglichen.</p>

    <p>Ein weiterer Aufgabenbereich ist die Untersuchung von Sicherungseinrichtungen, Schloss und Schlüssel auf Manipulations- beziehungsweise Nachschließspuren sowie Spuren von Kopiervorgängen. Dazu gehört auch die Begutachtung elektronischer Schließsysteme und Wegfahrsperren. Passstücke, sogenannte originale Formspuren, werden bezüglich des Nachweises der ursprünglichen Zusammengehörigkeit untersucht.</p>
</div>