<mat-toolbar color="primary">
  <mat-toolbar-row class="nav-row">
    <div class="prefix-container">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PP Münster - Waffenverwaltung</span>
    </div>
    <button mat-raised-button color="accent" routerLink="registration" class="register-nav-button"><mat-icon fontIcon="group_add"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-links">
    <button *ngFor="let routeEntry of routeList" mat-raised-button color="accent"
      routerLink="{{routeEntry.route}}">{{routeEntry.label}}</button>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>